.blog{
    margin: 5% 17%;
}
.blog h1{
    text-align: center;
}
.blog_carousel{
    display: flex;
}
@media screen and (min-width:300px) and (max-width:480px) {
    .blog{
        margin: 5% 3%;
    }

}