.contact{
    margin: 3% 30%;
    /* border: 2px solid red; */
}
.contact h1{
    text-align: center;
    
}
.contact p{
    text-align: center;
    padding: 0% 3%;
}
.buttons_menu_subs{
    background-color: #F13C45;
    border-style: solid;
    border-width: 1px;
    padding: 1% 5%;
    border-radius: 3px;
    border-color: #F13C45;
    color: white;
    margin-right: 5%;
    height: 2rem;
}
.contact_input{
    /* margin:auto;
    width: 30%; */
    padding-bottom: 1%;
}
.contact_input input{
    background-color: gainsboro;
    border-color: gainsboro;
    width: 60%;
    height: 2rem;
    border: none;
    margin-left: 9%;
}
.span{
    font-weight: 'bold';
    color: #F13C45;
    margin-left: 9%;
}

@media screen and (min-width:300px) and (max-width:768px) {
    .contact{
        margin: 3% 6%;
        /* border: 2px solid red; */
    }
    .contact_input input{
        background-color: gainsboro;
        border-color: gainsboro;
        width: 50%;
        height: 2rem;
        border: none;
        margin-left: 9%;
    }
}
@media screen and (min-width:769px) and (max-width:1040px) {
    .contact{
        margin: 3% 11%;
        /* border: 2px solid red; */
    }
    .contact_input input{
        background-color: gainsboro;
        border-color: gainsboro;
        width: 50%;
        height: 2rem;
        border: none;
        margin-left: 15%;
    }
    .span{
        font-weight: 'bold';
        color: #F13C45;
        margin-left: 15%;
    }
}