.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 17%;
}
.gallery_div{
    width: 25%;
    height: 170px;
    /* border: 2px solid red; */
}
.gallery_img{
    width: 100%;
    height: 100%;
}
.gallery_h1{
    text-align: center;
}