.principal{
    margin: 3% 10%;
    display: flex;
}
.principal_img{
    width: 60%;
    margin-left: 15%;
}
.principal_p{
    color: #0B2342;
}
.principal_h1{
    font-size: 2.5rem;
}
.principal_p2{
    font-size: 1.2rem;
}
.principal_ul{
    
    white-space:nowrap; 
}
.principal_ul li{
    display:inline;
    margin-left: 10%;
    font-size: 2rem;
}


@media screen and (min-width:300px) and (max-width:768px) {
    .principal{
        margin: 3% 5%;
        display: flex;
    }
    
    .principal_h1{
        font-size: 1.7rem;
        
    }
    .principal_img{
        width: 60%;
        margin-left: 15%;
        display: none;
    }
    .principal_p2{
        font-size: 0.9rem;
    }

}